<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= pluralize(@user.errors.count, "错误") %>.
    </div>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <% if msg == " is invalid" %>
        <% msg += "," %>
      <% end %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>