@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-form {
    width: auto;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0px;
    border: 0px none;
    box-shadow: none;
    padding: 10px 15px;
	margin: 8px -15px;
}

navbar-right {
    float: right !important;
    margin-right: -15px;
}