.fl{float:left;display: inline-block}
.clear:after{clear:both;display:block;visibility:hidden;height:0;line-height:0;content:'';  }
.clear{zoom:1;}

.m-div{text-align: left;width:1060px;margin:0 auto;}

.home-box2{padding:0px 0px 0px;}
.home-box2 .m-div{overflow: hidden;}
.home-box2 .m-div .block{margin:0 90px 0 90px;background: url(home-icon-block1-bg.png) left top no-repeat;width:152px;padding-top:190px;text-align: center;position: relative}
.home-box2 .m-div .block2{background-image: url(home-icon-block2-bg.png)}
.home-box2 .m-div .block3{background-image: url(home-icon-block3-bg.png);margin-right: 0}
.home-box2 .m-div .block .title1{font-size: 26px;margin-bottom: 18px;}
.home-box2 .m-div .block:hover .title1{color:#f23236}
.home-box2 .m-div .block .title2{font-size: 13px;color:#808080}
.home-box2 .m-div .block .i{position: absolute;top:0;left:0;width:152px;height:152px;}
.home-box2 .m-div .block1 .i{width:38px;height:60px;top:46px;left:57px;}
.home-box2 .m-div .block2 .i{width:58px;height:42px;top:55px;left:47px;}
.home-box2 .m-div .block3 .i{width:75px;height:66px;top:43px;left:44px;}
