<% provide(:title, "火车票订单") %>

<h1>火车票订单</h1>


<%= month_calendar events: @ticketstates do |date, ticketstates| %>
  <%= date %>

  <% ticketstates.each do |ticketstate| %>
    <div>
      <%= ticketstate.stateinfo %>
    </div>
  <% end %>
<% end %>