<head>
    
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      
    <!-- Title -->
    <title>页面无法找到！</title>
    
    <!-- RSS & Pingbacks -->
    <link rel="alternate" type="application/rss+xml" title="Theme Designer" href="http://themedesigner.in/feed/" />
    <link rel="alternate" type="application/atom+xml" title="Theme Designer" href="http://themedesigner.in/feed/atom/" />
    <link rel="pingback" href="http://themedesigner.in/xmlrpc.php" />
    
    <!-- FAVICON -->
    <link rel="shortcut icon" href="/assets/Globe.ico" />
    
    <!-- Theme Hook -->
    
<!-- This site is optimized with the Yoast WordPress SEO plugin v1.2.8.7 - http://yoast.com/wordpress/seo/ -->
<!-- / Yoast WordPress SEO plugin. -->

<link rel='stylesheet' id='contact-form-7-css'  href='/assets/styles.css' type='text/css' media='all' />
<link rel='stylesheet' id='wp-polls-css'  href='/assets/polls-css.css' type='text/css' media='all' />
<link rel='stylesheet' id='default-css'  href='/assets/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='PrettyPhoto-css'  href='/assets/prettyPhoto.css' type='text/css' media='all' />
<script type='text/javascript' src='/assets/jquery.js'></script>
<script type='text/javascript' src='/assets/jquery.cycle.all.js'></script>
<script type='text/javascript' src='/assets/jquery.backgroundPosition.js'></script>
<script type='text/javascript' src='/assets/html5.js'></script>
<script type='text/javascript' src='/assets/jquery.form.js'></script>
<script type='text/javascript' src='/assets/jquery.validate.js'></script>
<script type='text/javascript' src='/assets/custom.js'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://themedesigner.in/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://themedesigner.in/wp-includes/wlwmanifest.xml" /> 
<script type="text/javascript">
  // This function is called from the pop-up menus to transfer to
  // a different page. Ignore if the value returned is a null string:
  function goPage (newURL) {

      // if url is empty, skip the menu dividers and reset the menu selection to default
      if (newURL != "") {
      
          // if url is "-", it is this page -- reset the menu:
          if (newURL == "-" ) {
              resetMenu();            
          } 
          // else, send page to designated URL            
          else {  
            document.location.href = newURL;
          }
      }
  }

// resets the menu selection upon entry to this page:
function resetMenu() {
   document.gomenu.selector.selectedIndex = 2;
}
</script>
<meta name="generator" content="WordPress 3.4.2" />
<style type="text/css">
.wp-polls .pollbar {
    margin: 1px;
    font-size: 6px;
    line-height: 8px;
    height: 8px;
    background-image: url('/assets/pollbg.gif');
    border: 1px solid #c8c8c8;
}
</style>
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-19175540-4']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '/assets/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
    </script>


</head>

<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
            
                <!-- HEADER -->
                <div class="header-wrapper">
                    <header class="clearfix"></header>
                </div>
                <!-- HEADER -->                
                <!-- FEATURE PROJECT -->
                <div class="blog-wrapper">
                        <div class="error-page">
                            
                             <h2>404 Not Found</h2>
        
</form>
    
                                
                        </div>
                </div>
                <!-- FEATURE PROJECT -->

                <!-- FOOTER -->
                <footer>
                
                    <div>
                        <p>
                                Coypright 2011-2012, All Rights Reserved by <a href="http://www.themedesigner.in.s159067.gridserver.com">Theme Designer</a>.                        </p>
                        
                        <ul class="social-nav">
                            <li><a class="twitter" href="http://www.twitter.com/suniljoshi19" target="_blank">Twitter</a></li>
                            <li><a class="face-book" href="#" target="_blank">Facebook</a></li>
                            <li><a class="dart" href="http://www.sunilbjoshi.deviantart.com" target="_blank">Flickr</a></li>
                            <li><a class="dribble" href="http://www.dribbble.com/suniljoshi" target="_blank">Skype</a></li>
                            <li><a class="skype" href="skype:suniljoshi19?call" target="_blank">Flickr</a></li>
                            <li><a class="rss" href="http://feeds.feedburner.com/Freebies-FreeWebResources-Themedesigner" target="_blank">RSS</a></li>
                        </ul>
                     </div> 
                       
                </footer>
                <!-- FOOTER -->
                
                <!-- Theme Hook -->
                <script type='text/javascript' src='/assets/jquery.form.min.js'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"\/assets\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='/assets/scripts.js'></script>
<script type='text/javascript'>
</script>
<script type='text/javascript' src='/assets/polls-js.js'></script>

        </body>
</html>










