<div class="nav">
    <div class="m-div clear">
        <a class="fl log">
        <div class="fl menu" style="margin-left: 120px;">
            <a href="./忆游假期.html" class="fl menu-btn menu-btn-fire">忆游假日在线CMS</a>
            
            <div class="menu-drop">
                <a class="close" href="./忆游假期.html"></a>
                <a class="btn" href="">公司简介</a>
              
               
                <div class="tips">关于忆游假期</div>
            </div>
        </div>
        <div id="user-static-info-div" class="fr menu2">	<a class="fl menu-btn menu-btn-fire border-radius-2" href="./register.htm">快速注册</a>
	<a class="fl menu-btn" href="./忆游假期.html">登录</a>
	    </div>
    </div>
</div>